<!--包含头部文件-->
<!--_meta 作为公共模版分离出去-->

{include file="public/_meta"}

<!--/meta 作为公共模版分离出去-->

<title>H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<!--_header 作为公共模版分离出去-->



<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->



<!--/_menu 作为公共模版分离出去-->

<div class="cl pd-5 bg-1 bk-gray mt-20">
    {if $detail}
    <h1>{$detail.status|doregister}</h1>
    {else/}
    <h1>不存在该入驻申请情况</h1>
    {/if}
</div>
{include file="public/_footer" /}
